@import "../../assets/theme/variables.scss";

.bestSellingContainer {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: 18px;

  .bestSellingItem {
    color: #ffffff;
    width: $bestSellingItem-width;
    min-width: $bestSellingItem-min-width;
    margin-inline: 15px;
    margin-bottom: 33px;
    padding-top: $bestSellingItem-padding;
    border-radius: $bestSellingItem-border-radius;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .itemDetails {
      background-color: $bestSellingContainer-background-color;
      border-radius: $bestSellingItem-border-radius;
      padding-inline-start: $bestSellingItem-details-padding;

      .itemHeader {
        padding-top: 37px;
        display: flex;
        justify-content: space-between;

        .category {
          font-size: 18px;
          font-weight: 500;
          line-height: 21.33px;
          margin-bottom: 24px;
          @media (max-width: 767px) {
            margin-bottom: 15px;
          }
        }

        i {
          cursor: pointer;
          padding-inline-end: 17px;
          font-size: 23px;
          margin-right: 10px;
        }
        @media (max-width: 767px) {
          padding-top: 34px;
        }
      }

      .itemBody {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .price {
          font-weight: 300;
          font-size: 39px;
          line-height: 46.22px;
          margin-bottom: 12px;
          @media (max-width: 767px) {
            margin-bottom: 20px;
          }
        }

        .details {
          display: flex;
          align-items: center;
          margin-bottom: auto;
          padding-bottom: 24px;
          padding-inline-end: 14px;

          .title {
            color: #bbc0ff;
            font-weight: 400;
            font-size: 12px;
            line-height: 14.22px;
            margin-bottom: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 121px;
            max-height: 28px;
          }

          .storeCount {
            font-weight: 500;
            font-size: 12px;
            line-height: 14.22px;
            margin-left: 10px;
            margin-bottom: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
              margin: 0;
            }

            @media (max-width: 767px) {
              display: none;
            }
          }
          @media (max-width: 767px) {
            margin-top: auto;
            padding-bottom: 19px;
          }
        }
      }
    }

    @media (max-width: 767px) {
      width: 100%;
      max-width: 327px;
      margin-inline: 0;
      margin-bottom: 20px;

      .itemDetails {
        padding-inline-start: 24px;
        .itemBody {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }

  @media (max-width: 767px) {
    justify-content: center;
    margin-top: 39px;
    margin-inline-start: 0px;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-inline: 200px;
  width: 100%;
  i {
    font-size: 50px;
    font-weight: 900;
    color: #ffff;
  }
}
