.sidBar {
  background-color: #1c204b;
  width: 13.3%;
  min-width: 330px;
  margin-inline-start: 90px;
  border-radius: 20px;

  .sidBar-header {
    background-color: #5747ea;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img {
      width: 138px;
      height: 145px;
      margin-top: 32px;
      align-self: center;
      border: 3px solid #ffffff;
      border-radius: 90px;
      box-shadow: 4px 7px 8px 0px rgba(0, 0, 0, 0.25);
    }
    p {
      margin-top: 32px;
      margin-inline-start: 23px;
      margin-bottom: 10px;
      color: #bbc0ff;
      font-size: 15px;
      font-weight: 400;
      line-height: 17.78px;
    }
    h2 {
      letter-spacing: 12px;
      font-weight: 300;
      line-height: 47.4px;
      font-size: 40px;
      color: #ffffff;
      padding-bottom: 19px;
      margin-inline-start: 23px;
    }
  }

  ul {
    list-style-type: none;
    color: #7078c9;
    margin-top: 26px;
    margin-inline-start: 32px;
    padding-bottom: 32px;

    li {
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 21.33px;
      font-weight: 400;
      &:nth-child(2) {
        color: #ffffff;
      }
    }
  }
}
