$background-color: #0e1323;

$sidBar-background-color: #1c204b;
$sidBar-header-background-color: #5747ea;
$sidBar-header-img-width: 138px;
$sidBar-header-img-height: 145px;
$sidBar-header-img-border-radius: 90px;
$sidBar-header-img-border: 3px solid #ffffff;

$bestSellingContainer-background-color: #1c204b;
$bestSellingItem-width: calc(20% - 30px);
$bestSellingItem-min-width: 215px;
$bestSellingItem-padding: 42px;
$bestSellingItem-border-radius: 15px;
$bestSellingItem-details-padding: 24px;
